@import url("https://fonts.googleapis.com/css?family=Lato");

$max-width: 720px;

$line: 27px;
$line-color: #eee;
$dim-color: #ccc;

$heading-color: #000;
$text-color: #222;
$quote-color: #444;
$caption-color: #888;

$red: #f42525;
