@import url('https://fonts.googleapis.com/css?family=Lato');
@import "layout";

$max-width: 720px;

$line-color: #eee;
$dim-color: #ccc;

$heading-color: #000;
$text-color: #222;
$caption-color: #888;
$quote-color: #555;

$red: #F42525;
$mint: rgb(42, 215, 146);
$beige: rgb(255, 254, 247);

$background: white;
$primary: $mint;

body {
  background-color: $background;
  color: $text-color;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
  padding: 0 1rem;
}

header {
  max-width: $max-width;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid $line-color;
}

main {
  margin: 0 auto;
  max-width: $max-width;
  padding: 10px 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

a {
  // color: $primary;
  color: inherit;
  border-bottom: 1px solid $dim-color;
  text-decoration: none;
  transition: border-color 200ms ease-in-out;

  &:hover {
    border-color: $primary;
  }
}

blockquote {
  border-left: 3px solid $dim-color;
  color: $quote-color;
  margin: 1em 0;
  padding-left: 1em;
}

figure {
  display: block;
  padding: 3rem 0;
  text-align: center;
}

figcaption {
  color: $caption-color;
  font-size: 0.9rem;
}

img, canvas {
  height: auto;
  max-width: 100%;
  width: 400px;
}

.dim {
  color: $dim-color;
}

.logo {
  font-size: 20px;
  color: $heading-color;
  transition: color 300ms ease-in-out;
  border: 0;

  &::after {
    content: 'aving';
    display: inline;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &:hover {
    // color: $primary;

    &::after {
      opacity: 1;
    }
  }
}
