@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lato");
html, body, h1, h2, h3, h4, h5, h6, p { padding: 0; margin: 0; }

ul, ol { margin: 0; }

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 { margin-top: 27px; }

p + p { margin-top: 1em; }

li + li { margin-top: 13.5px; }

h1 + ul, h1 + ol { margin-top: 27px; }

body { color: #222; font-size: 18px; line-height: 27px; font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif; padding: 0 1rem; }

header > nav { display: flex; max-width: 720px; margin: 0 auto; padding: 10px 0; }

main { margin: 0 auto; max-width: 720px; padding: 0; position: relative; }

h1, h2, h3, h4, h5, h6 { color: #000; margin-top: 1em; }

a { color: #f42525; text-decoration: none; }

figure { display: block; padding: 3rem 0; text-align: center; }

figcaption { color: #888; font-size: 0.9rem; }

img, canvas { height: auto; max-width: 100%; width: 400px; }

blockquote { border-left: 2px solid #eee; padding-left: 20px; color: #444; }

.dim { color: #ccc; }

.logo { font-size: 20px; color: #000; transition: color 300ms ease-in-out; }
.logo::after { content: "aving"; display: inline; opacity: 0; transition: opacity 300ms ease-in-out; }
.logo:hover::after { opacity: 1; }
